#map {
  height: 400px;
  width: 100%;
}

h4 {
  text-align: center;
  font-weight: bold;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

li {
  font-size: small;
  margin: 6px;
}

#footer